.lifestyle .mz-search-box .mz-autocomplete .mz-container a {
  color: #2f2f2b;
  text-decoration: none;
}
.lifestyle .mz-search-box .mz-autocomplete .mz-container a:hover {
  color: #e74c3c;
}
.lifestyle .card-img-container {
  display: block;
}
.lifestyle h5.mz-label {
  font-size: 20px;
  font-weight: 500;
}
.lifestyle .mz-selections {
  padding-left: 15px;
}
.lifestyle .mz-portal {
  padding-left: 5px;
}
.lifestyle .mz-refinments {
  font-size: 15px;
  border: 1px solid #dfdfdf;
  padding: 0 5px;
}
.lifestyle .mz-facet .mz-values {
  padding-bottom: 10px;
}
.lifestyle h5 {
  margin: 15px 0 10px 0;
}
.lifestyle .mz-action-bar {
  padding-bottom: 20px;
}
.lifestyle .mz-action-bar #grid > svg,
.lifestyle .mz-action-bar #list > svg {
  width: 25px;
  height: 25px;
}
.lifestyle .mz-action-bar .mz-btn-default {
  background-color: #fff;
  border-color: transparent;
}
.lifestyle .mz-pagination .mz-btn-default {
  background-color: #000;
  color: #fff;
}
.lifestyle .mz-results .product-grid-view {
  padding-top: 20px;
}
.lifestyle .mz-action-bar .svg-inline--fa {
  width: 25px;
  height: 25px;
}
